<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Micronutrient Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <h2>VEGAN WHOLEFOOD MICRONUTRIENT TRACKER</h2>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/food-diary">Food Diary</a></li>
        <li><a href="/food-diary/new">Input New Food</a></li>
        <li><a href="/food-diary/favourite">Manage Favourites</a></li>
      </ul>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
