<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Micronutrient Tracker</title>
    <link rel="stylesheet" href="/style.css" href="https://fonts.googleapis.com/css?family=Sriracha&display=swap">
    <h1>Vegan Wholefood Micronutrient Tracker</h1>
  </head>
  <body>
    <section class="flex-container">
      <aside class="flex-item sidebar"></aside>
      <main class="flex-item main-center">
        <nav>
          <section class="flex-container">
            <main class="flex-item one-third">
              <div><a href="/food-diary">Food Diary</a></div>
            </main>
            <main class="flex-item one-third">
              <div><a href="/food/new">Input New Food</a></div>
            </main>
            <main class="flex-item one-third">
              <div><a href="/favourite">View Favourite Meals</a></div>
            </main>
          </section>
        </nav>
      </main>
      <aside class="flex-item sidebar"></aside>
    </section>
    <br>
    <%= yield %>
  </body>
</html>
