<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Micronutrient Tracker</title>
    <link rel="stylesheet" href="/style.css" href="https://fonts.googleapis.com/css?family=Sriracha&display=swap">
    <h1>Vegan Wholefood Micronutrient Tracker</h1>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/food-diary">Food Diary</a></li>
        <li><a href="/food/new">Input New Food</a></li>
        <li><a href="/favourite">View Favourites</a></li>
      </ul>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
