* {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

body {
  background-image: url("images/freshproduce.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

h1 {
  text-align: center;
  color: lightgrey;
  font-size: 2.5em;
  font-style: italic;
}

h2 {
  text-align: center;
  color: #9C7241;
}

h4 {
  text-align: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

/* unvisited link */
a:link {
  display: block;
  padding: 8px;
  background-color: forestgreen;
  text-decoration: none;
  color: white;
}

/* visited link */
a:visited {
  display: block;
  padding: 8px;
  background-color: forestgreen;
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  display: block;
  padding: 8px;
  background-color: forestgreen;
  text-decoration: none;
  color: grey;
}

/* selected link */
a:active {
  display: block;
  padding: 8px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.outer {
  width: 70%;
  margin: 2px auto;
  display: flex;
  align-items: center;
}

.label {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 10px;
}

.input {
  width: 50%;
}

th, td {
  padding: 5px 5px 0px 5px
  border: 1px solid #ddd;
}

th {
  text-align: left;
  color: white;
}

.button {
  background-color: white;
  border-color: green;
  border: 1px solid;
  color: forestgreen;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  justify-content: center;
}

.button:hover {
  background-color: forestgreen;
  border-color: white;
  border: 1px solid;
  color: white;

}

.green {
  background-color: forestgreen;
}

.right {
    text-align: right;
}

tbody tr:hover { background-color: palegreen;

}

table {
  white-space: nowrap;
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: auto;
  border: collapse;
}

#form1 {
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 0;
}

.flex-container {
  display:flex;
  margin: 0;
  padding: 0;

}

.main {
  flex: 4;
  padding: 20px;
  background-color: #AFD0BF;
  opacity: 0.9;

}

.main-left {
  flex: 2;
  padding: 10px;
  background-color: #AFD0BF;
  opacity: 0.9;
}

.main-right {
  flex: 2;
  padding: 10px;
  background-color: #AFD0BF;
  opacity: 0.9;
}

.main-center {
  flex: 4;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: forestgreen;
  opacity: 0.9;

}

.one-third {
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;

}

.sidebar {
  flex: 1;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.b-left {
  border-left: 1px forestgreen;
  border-style: solid;
}

.b-right {
  border-right: 1px forestgreen;
  border-style: solid;
}

.b-top {
  border-top: 1px forestgreen;
  border-style: solid;
}

.b-bottom {
  border-bottom: 1px forestgreen;
  border-style: solid;
}
