* {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

body {
  background-image: url("images/freshproduce.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

h1 {
  text-align: center;
  color: lightgrey;
  font-size: 2.5em;
  font-style: italic;
  font
}

h2 {
  text-align: center;
  color: #9C7241;
}

h3 {
  text-align: center;
  color: #9C7241;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

/* unvisited link */
a:link {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: white;
}

/* visited link */
a:visited {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: grey;
}

/* selected link */
a:active {
  display: block;
  padding: 8px;
  background-color: white;
  text-decoration: none;
  color: black;
}

select {
  padding: 10px;
}

th, td {
  padding: 5px 5px 0px 5px
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

.green {
  background-color: green;
}

.right {
    text-align: right;
}

tr:hover { background-color: grey;

}

table {
  white-space: nowrap;
  table-layout: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container {
  border-radius: 5px;
  background-color: #AFD0BF;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-75 {
  float: right;
  width: 65%;
  margin-top: 6px;
}

.flex-container {
  display:flex;
  margin: 0;
  padding: 0;

}

.main {
  flex: 4;
  padding: 20px;
  background-color: #AFD0BF;
  align-items: center;
  justify-content: center;
}

.main-left {
  flex: 2;
  padding: 10px;
  background-color: #AFD0BF;
}

.main-right {
  flex: 2;
  padding: 10px;
  background-color: #AFD0BF;
  justify-content: center;
}

.sidebar {
  flex: 1;
}

.header,
.footer  {
  flex: 2 80%;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: green;
}
