* {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

body {
  background-color: #AFD0BF;

}

h1 {
  text-align: center;
  color: #525C56;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  color: #9C7241;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

/* unvisited link */
a:link {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: white;
}

/* visited link */
a:visited {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  display: block;
  padding: 8px;
  background-color: green;
  text-decoration: none;
  color: grey;
}

/* selected link */
a:active {
  display: block;
  padding: 8px;
  background-color: white;
  text-decoration: none;
  color: black;
}

th, td {
  padding: 5px 5px 0px 5px
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

.right {
    text-align: right;
}

tr:hover { background-color: #ddd;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  border-radius: 5px;
  background-color: #AFD0BF;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-75 {
  float: right;
  width: 65%;
  margin-top: 6px;
}
