<br>
<br>

<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center">

    <div class="center">
        <p>Success! Your new food has been added to the database - happy munching!</p>
    </div>

  </main>
  <aside class="flex-item sidebar"></aside>
</section>
