<br>
<br>
<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center b-top b-bottom b-left b-right">

    <div class="center">
        <p>Success! Your new favourite has been added to the database - you can now access this easily from the dropdown on the food diary page!</p>
    </div>

  </main>
  <aside class="flex-item sidebar"></aside>
</section>
