<br>
<br>
<section class="flex-container">
  <aside class="flex-item sidebar"></aside>
  <main class="flex-item main center b-top b-bottom b-left b-right">

    <div class="center">
        <p>No favourite meals have been added yet! You can add one from the Food Diary page! </p>
    </div>

  </main>
  <aside class="flex-item sidebar"></aside>
</section>
